.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   /* border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 10px 12px rgb(0,0,0,0.5), 0 20px 30px 0 rgba(55, 50, 50, 0.5);
    border-radius: 20px;
}

.headerDiv{
    text-align: center;
}
.inputdivs{
  display: flex;
  flex-direction: column;
  margin: 20px; 
}

#submit{
    background-color: rgb(37, 37, 193);
    color: white;
    height: 30px;
    border-radius: 10px;
}
input{
    margin-top: 5px;
}
.input{
    border: 1px solid blue;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
}

body::after{
    content: "";
    background-image: url(https://images7.alphacoders.com/411/thumb-1920-411820.jpg);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.7;
    width: 100vw;
    height: 100vw;
}

.body{
    border: 2px solid black;
}