.customerdetails{
  display: flex;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  background-color: aqua;
}
.customername{
  margin-right: 100px;
}

.itemInput{
  border: 2px solid black;
  margin-top: 20px;
  display:flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
 
 
  
.itemInput>div{
  width: 300px;
  margin: 10px;
}

.allProducts{ 
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.allProducts>table{
  border: 2px solid black;
  padding: 20px;
}
.allProducts>button{
  margin-top: 10px;
}

th,tr,td{
  border: 1px solid aqua;
}

.generatedBillBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}